.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000133;
}

.topBar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 65px;
  background-color: #F5D6C4
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-gap: 16px;
  flex-direction: column;
}

.mainComp {
  border: 1px solid black;
  margin-top: 15px;
  display: flex auto;
  min-width: 100px;
  min-height: 50rem;


} 
