.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000133;
}

#mainCon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.topBar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 65px;
  background-color: #F5D6C4
}

#gridContainer{
  display: grid;
  grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
  column-gap: 20px;
  row-gap: 10px;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-gap: 16px;
  flex-direction: column;
}

.cards {
  border: 1px black solid;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.mainComp {
  border: 1px solid black;
  margin-top: 15px;
  display: flex;
  flex-direction:row;
justify-content: space-evenly;
width: fit-content;

} 
.divContainer{
padding:10ch;
border: 1px solid black;
}
